*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #008B8B;   
}
/*Cardo Alata*/

p{
    font-family: 'Roboto Mono';
    font-size: 20px;
    color: rgba(0, 139, 139, 0.9);  
}
h1, h2{
    font-family: "Alata";
}

header{
    background-color: #333;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    min-height: 18vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
    font-weight: bold;
}

.nav-link{
    transition: 0.7s ease;
    font-weight: bold;
/*    font-style: italic; */
}

.nav-link h2:hover{
    color: rgb(20, 106, 106);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #008B8B;
}

/* About Section*/

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}


.intro{
    margin: 50px 0;
    padding-left: 15%;
    padding-right: 15%;
    }
.intro p{
    text-align: justify;
}

.main{
    width: 60%;
}
.main h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.main p{
    line-height: 35px;
    margin-bottom: 40px;
    font-size: 24px;
    text-align: justify;
}

.btntwo{
    border: none;
    background: #008B8B;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: "Roboto Mono";
    transition: .4s;
}
.btntwo:hover{
    background:rgb(20, 106, 106);
    border: 2px solid white;
    transition: 0.4s;
}

.socials{
    margin: 2%;
    padding: 2%;
    width: 50px;
    height: auto;
}

.socials a{
    display: block;
    padding: 10px;
}


.projects, .blog{
    margin: 75px 0;
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
    }

.blog-container{
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer{
    font-size: 16px;
    bottom:0px; 
    width:100%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    background-color: #333;
 }

 footer center i{
    padding-left: 10px;
    padding-right: 10px;
 }


.project-div {
    width: 95%;
    margin: 0.2em auto;
    border-radius: 6px;
    box-shadow: rgba(0, 139, 139, 0.7) 1px 3px 4px;
    overflow: hidden;
}

.project-blog-image,
.description {
    width: 100%;
    margin: 0 auto;
}

.description {
    padding: 1em 1em;
}

.project-blog-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.project-div:hover{
    transform: scale(1.01);
    cursor: pointer;
}



.project-blog-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.technologies{
    margin: 75px 0;
    padding-top: 25px;
    padding-left: 15%;
    padding-right: 15%;
}

.services-tech-gallery{
    margin: 3% auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.services-tech-img{
    padding: 20px 20px;
    height:80px;
    width: auto;
}


.description{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.btntwo{
    font-size: 20px;
}

img.emoji{
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.highlight_text{
    color: rgb(0, 139, 139);
}

.used_tech{
    border: none;
    background: rgba(0, 139, 139, 0.1);
    padding: 3px 5px;
    border-radius: 3px;
    color: #008b8b;
    font-family: "Roboto Mono";
    font-size: small;
    font-weight: 600;
    transition: .4s;
    margin: 2px;
}

.used_tech:hover{
    cursor: pointer;
}


@media (min-width: 640px) { 

.card-container {
        display: flex;
        flex-flow: wrap;
    }

.project-div {
    flex: 1 0 48%;
    margin: 1%;
    }
}

@media (min-width: 1001px) {
    .project-div:last-of-type {
        flex-grow: 0;
    }
    .navbar{
        padding: 0 18%;
    }
    .about, .projects, .blog, .technologies, .intro{
        padding: 0 20%;
    }
}

@media(max-width:800px){
    .navbar{
        padding-left: 3%;
        padding-right: 3%;
    }
    .about, .projects, .blog, .technologies{
        padding-left: 4%;
        padding-right: 4%;
    }

    .intro{
        padding-left: 4%;
        padding-right: 4%;
    }
    p{
        font-size: 16px;
    }

    .main p {
        line-height: 25px;
        font-size: 18px;
        text-align: justify;
      }

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        padding-bottom: 2%;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .navbar{
        justify-content: space-between;
        margin: 0 1%;
    }
    .blog-container{
        margin: 3% auto;
    }
    .project-div{
     margin-bottom : 1em;
    }
}


